                                
# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Apache Spark

### Some of the commonly used libraries used by Data Scientists include:
NumPy – For numerical computations and handling multi-dimensional arrays.

1. Pandas – For data manipulation and analysis, especially tabular data.

2. Matplotlib – For basic data visualization.

3. Seaborn – For statistical data visualization, built on top of Matplotlib.

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python
###### Addition
###### result1 = 10 + 5
###### print("10 + 5 =", result1)   Output: 15
###### 
###### Subtraction
###### result2 = 10 - 3
###### print("10 - 3 =", result2)   Output: 7
###### 
###### Multiplication
###### result3 = 4 * 7
###### print("4 * 7 =", result3)   Output: 28

In [3]:
#### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200 / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**

- Python
- R
- Spark

## Author: 
### Vinay Jayadev